<p id="notice"><%= notice %></p>

<h3>
  First name:
  <strong><%= @user.first_name %></strong>
</h3>

<h3>
  Last name:
  <strong><%= @user.last_name %></strong>
</h3>

<h3>
    Email:
   <strong><%= @user.email %></strong>
  </h3>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
