<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container">
  <div class="row products">
    <!-- @products represents array of all products in database-->
    <!-- Each product is an object with the properties name, description, image_url, color-->
    <!--The loop @products.each do |product| iterates over that array.-->
    <!-- During each iteration, the current element of the array (aka each product object in the table) is represented by the variable product. -->
    <!-- That's why you can access each object's properties with product.name or product.description and so on-->
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-4">
        <h2 class="product-title"><%= product.name %></h2>
        <p class="description"><%= product.description %></p>
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <p><%= product.price %>€</p>
        <p><%= product.colour %></p>
        <p product-links><%= link_to 'Show', product %>  <%= link_to 'Edit', edit_product_path(product) %>  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div> <!-- end col -->
    <% end %>
  </div> <!-- end row -->
</div> <!-- end container -->





<br>

<%= link_to 'New Product', new_product_path, class:"newproduct_link btn" %>

