<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <h2><strong><%= @product.name %></strong></h2>
  </div>

  <div class="row">
    <h3>
      <strong><%= @product.description %></strong>
    </h3>
  </div>

  <div class="center">
    <div class="center">
      <%= image_tag(@product.image_url, class: "img-responsive") %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <h3><strong><%= @product.colour %></strong></h3>
    </div>
    <div class="col-sm-3">
      <h3><%= @product.price %></h3>
    </div>
  </div>



  <div class="row">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
</div> <!-- container -->